<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBMIcalculatorService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary/BMIcalculatorService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBMIcalculatorService"
                contract="BMIServiceReference.IBMIcalculatorService" name="BasicHttpBinding_IBMIcalculatorService" />
        </client>
    </system.serviceModel>
</configuration>